
/* ************************************************************************** */
/* ******************************* HOME PAGE ******************************** */
/* ************************************************************************** */
.question-panel:hover{
	text-decoration: none;
}


#view_ajax {
  display: block;
  overflow: auto;
  height: 200px; 
  border: 1px solid #333;
  margin: 0 auto;
  margin-top: 20px;
}

#ajaxForm{
  display: block;
  margin: 0 auto;
  width: 500px; 
  height: 50px;
  margin-top: 10px;
}

#chatInput{
  width: 454px;
}


/* ************************************************************************** */
/* ****************************** KANBAN BOARD ****************************** */
/* ************************************************************************** */
.panel-column-kanban{
	height:100vh;
	margin: 0px;
	padding: 0px;
	overflow-y:scroll;
}


.column-kanban{
	padding: 0px;
}
.draggable-task:hover{
 	cursor: pointer;
 }
.draggable-task:active{
 	cursor: move;
 }
.draggable-task .panel-body{
	max-height:100px; 
	overflow-y:hidden;
	max-width: 300px;
}

.draggable-task{
	list-style-type: none;
	padding: 0px;
}


.panel-heading-task{
display:block;
padding:3px 20px;
clear:both;
font-weight:400;
line-height:1.42857143;
color:#333;
white-space:nowrap;
overflow: hidden; 
text-overflow: ellipsis; 
}
.panel-heading-task:hover,.panel-heading-task:focus{
color:#262626;
text-decoration:none;
background-color:#ddd;
cursor: pointer;
}



/* ************************************************************************** */
/* ******************************** CALENDAR ******************************** */
/* ************************************************************************** */
.myCustomClass .qtip-content{
    font-size: 14px;
    line-height: 16px;
}



/* ************************************************************************** */
/* **************************** QUESTION RESULTS **************************** */
/* ************************************************************************** */
.question-results-title{
	margin:0px;
}

.question-results-hr{
	margin-top: 5px;
	margin-bottom: 10px;
}

.question-results-panel-body{
	padding-bottom: 5px;
}

#questionImageimg{
    max-width:100%;
}




.question-image-thumb-container{
	display:inline-block; 
	margin:0px 10px 0px; 
}
.question-image-thumb-container img{
	border-radius:5px;
}



/* ************************************************************************** */
/* ***************************** CONTROL PANEL ****************************** */
/* ************************************************************************** */
.list-group-item-speciality, .list-group-item-user, .list-group-item-superior{
    margin-bottom: 0px;  
}
.selected-list-item{
    color:#2e6da4 !important;
    border:1px solid #2e6da4;
}


/* ************************************************************************** */
/* ******************************* LIVE POST ******************************** */
/* ************************************************************************** */
li:hover{
  background-color: #444;
  color: red;
}
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 10px;
}

.chat li.right .chat-body
{
    margin-right: 10px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.mainchat-body/*This is the panel-body*/
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



/*************************************/
/*************************************/
/*************************************/
/*************************************/
/*************************************/
/*************************************/
/*************************************/
/*************************************/



.side{
	border:1px solid red;
	width: 500px;
	height:100px;
}



.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}





        /*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    /*overflow-y: auto;
    overflow-x: visible;
    */
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

/*.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}*/

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

/*.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/
@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
.cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
.cssmenu ul.menucontainer,
.cssmenu ul.menucontainer li.menuitem,
.cssmenu ul.menucontainer ul.submenucontainer {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cssmenu ul.menucontainer {
  position: relative;
  z-index: 1500;
  float: right;
}
.menuitem,
.submenuitem {
  float: right;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
/*.cssmenu ul li.hover,
.cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}*/
/* Modificar este para hacer un acordeon */
.submenucontainer{
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 598;
  width: 100%;
}
.submenuitem {
  float: none;
}
/*.cssmenu ul ul ul {
  top: -2px;
  right: 0;
}*/
/*.cssmenu ul li:hover > ul {
  visibility: visible;
}*/
.submenucontainer {
  top: 1px;
  right: 99%;
}
.menuitem {
  float: none;
}
.submenucontainer {
  margin-top: 1px;
}
.submenuitem {
  font-weight: normal;
}
/* Custom CSS Styles */
.cssmenu {
  width: 200px;
  background: #333333;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
}
.cssmenu:before {
  content: '';
  display: block;
}
.cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
.menutitle,
.submenutitle {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.cssmenu > ul {
  width: 100%;
}
.submenucontainer {
  width: 350px;
}
.cssmenu > ul > li > a {
  border-right: 4px solid #337ab7;
  color: #ffffff;
}
/*.cssmenu > ul > li > a:hover {
  color: #ffffff;
}*/
.cssmenu > ul > li.subactive a {
  background: #337ab7;
}
.cssmenu > ul > li.active a {
  background: #337ab7;
}
/*.cssmenu > ul > li a:hover,
.cssmenu > ul > li:hover a {
  background: #337ab7;
}*/
.menuitem,
.submenuitem {
  position: relative;
}
.online-status{
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 15px;
    margin-top: -6px;
}
.cssmenu ul li.online > .online-status{
  background-color: #0CA80E;
}
.cssmenu ul li.offline > .online-status{
  background-color: #A80C21;
}

.cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
.submenucontainer {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/*.submenucontainer{
  border: 1px solid #0082e7;
}*/
.submenutitle{
  font-size: 12px;
  color: #ffffff;
}
/*.cssmenu ul ul a:hover {
  color: #ffffff;
}*/
/*.submenuitem{
  border-bottom: 1px solid #0082e7;
}*/
/*.cssmenu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}*/
.cssmenu.align-right > ul > li > a {
  border-right: 4px solid #337ab7;
  border-right: none;
}
.cssmenu.align-right {
  float: right;
}
.cssmenu.align-right li {
  text-align: right;
}
.cssmenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
.cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
.cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 598;
  width: 100%;
}
.cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
.cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}


.menuheadertitle {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #337ab7;
}
.menuheadertitle:hover,
.menutitle:hover,
.submenutitle:hover{
  text-decoration: none;
}

.menutitle,
.submenutitle{
  text-decoration: none;
}

.menutitle:link,
.submenutitle:link{
  text-decoration: none;
}

